body {
    font-size: 1em;
    font-family: 'Share Tech Mono', monospace, sans-serif;
    margin:0;
    color: #FFC300;
    background:  #000 ;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: auto;
}
.wrap { 
    margin-top: 25%;
    font-size: calc(1.25em + 1vw)
}

