body {
    font-size: 1em;
    font-family: 'Share Tech Mono', monospace, sans-serif;
    margin:0;
    color: #FFC300;
    background:  #000 ;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: auto;
}

a:link      { color: #FFC300; text-decoration-style: dotted }
a:visited   { color: #FFC300; text-decoration-style: dotted }

.wrap { 
    margin-top: 10%;
    font-size: calc(1.25em + 1vw)
}

#waveform {
    height: auto;
    color: #fff;
    width: 75%;   
    overflow: hidden;
    margin-top: 10%
}

button {
    font-family: 'Share Tech Mono', monospace, sans-serif;
    padding: 1.5rem;
    background: #000;
    color: #FFC300;
    border: #000;
    font-size: .5em;
}

button i {
    display: inline;
    font-size: 2rem
}

